Net "clk" LOC = T8;
Net "hsync" LOC = M14;
Net "vsync" LOC = L13;
Net "red[0]" LOC = M11;
Net "red[1]" LOC = M12;
Net "red[2]" LOC = L12;
Net "red[3]" LOC = N14;
Net "green[0]" LOC = M9;
Net "green[1]" LOC = N9;
Net "green[2]" LOC = p9;
Net "green[3]" LOC = L10;
Net "blue[0]" LOC = p7;
Net "blue[1]" LOC = M7;
Net "blue[2]" LOC = p8;
Net "blue[3]" LOC = N8;
Net "key1" LOC = C3;
Net "key2" LOC = D3;
Net "key3" LOC = E4;
Net "key4" LOC = E3;
Net "out" LOC = J11;